TL_VENDOR_ENCRYTPTION_KEY='{"private_key":..}'
NGROK_AUTH_TOKEN=...
NGROK_URL=https://trustedlogin.ngrok.io
NGROK_USERS='[{"email":"something@something","username":"someone","password":"a-good-password"}'
CLIENT_WP_URL=https://e2e.trustedlogin.dev/
