#tl-vendor-settings span.description {
    font-weight: 400;
    display: block;
}

.team-settings-form {
    background-color: #fff;
    border: 1px solid #c3c4c7;
    padding: 12px;
    width: 500px;
}
